body ,html{
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

#my-video {
    border-radius: 15px;
    display: table;
    margin: 0 auto;
}
.container{
	padding-bottom: 50px;
	padding-top: 20 px;
}

.mainTitle {
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #8a3ab9;
	font-size: 4em;
	top: 50%;
	width: 100%;
}

#underVideoTxt {
    margin-top: 10px;
    text-align: center;
	color: black;
}

#underImage {
    border-radius: 100%;
    width: 50px;
}

#underText {
    margin-left: 5px;
    color: white;
}
