body ,html{
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

#my-video {
    border-radius: 15px;
    display: table;
    margin: 0 auto;
}
.container{
	padding-bottom: 50px;
	padding-top: 20 px;
}
.name{
	text-align: center;
}

.mainTitle {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
	color: #8a3ab9;
    font-size: 4em;
    top: 50%;
    width: 100%;
}

.name{
	text-align: center;
}

.mainButton {
    margin-bottom: 5px;
    color: white;
    font-size: 2em;
    text-align: center;
    height: 80px;
    vertical-align: center;
    border-radius: 8px;
}

.mainButton:hover {
    cursor: pointer;
}

#underVideoTxt {
    margin-top: 10px;
    text-align: center;
}

#underImage {
    border-radius: 100%;
    width: 50px;
}

#underText {
    margin-left: 5px;
    color: white;
}
