#my-video {
    border-radius: 15px;
    display: table;
    margin: 0 auto;
}
.container{
	padding-bottom: 50px;
	padding-top: 20 px;
}

.mainTitle {
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #8a3ab9;
	font-size: 4em;
	top: 50%;
	width: 100%;
}

#underVideoTxt {
    margin-top: 10px;
    text-align: center;
}

#underImage {
    border-radius: 100%;
    width: 50px;
}

#underText {
    margin-left: 5px;
    color: black;
}

#landing {
    margin-top: 25%;
    text-align: center;
}

.landingText {
    color: #f7f7f7;
}

#titleText {
    margin-bottom: 25px;
    font-size: 5em;
}

#descText {
    font-size: 1.2em;
    margin-top: 25px;
}

body {
    background-image: url("gb.jpg");
    background-size: cover no-repeat;
}

#newStoryButton {
    text-align: center;
    padding: 5px 0;
    color: #f7f7f7;
    width: 200px;
    font-size: 1.55em;
    border: 2px solid #f7f7f7;
    border-radius: 3px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

#newStoryButton:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

#newStoryButton:focus {
    outline: none;
    width: 600px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #f7f7f7;
    font-size: .9em;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #f7f7f7;
    font-size: .9em;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.3s ease; 
  opacity: 0;
}